<!DOCTYPE html>
<html>
<head>
<style>

table {
    font-family: Courier New, Verdana, "Microsoft YaHei", Arial;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    vertical-align:text-top;
    padding: 8px;
    white-space: nowrap
}

</style>
</head>
<body>

    <table>
             
      <tr>
        <th>S\E</th>
        <%stm_generator.events.each do |event| %>
          <th><%=event%></th>
        <%end%>
      </tr>
      <% stm_generator.states.each do |state| %>
      <tr>
        <td><%= state %></td>
        <% stm_generator.events.each do |event| %>
          <th><% stm_generator.GetStatementsOfCell(state, event).each do |st| %><%= st %><br><%end%></th>
        <%end%>
      </tr>
      <%end%>
    </table>

</body>
</html>
